<html>
    <head>
        <title>Teste: Gabi</title>
    </head>
    <body>
        <div>
            <h1><a href="">Gabi Dias</a></h1>
        </div>

        <div>
            <p>publicado em: 10/03/2018, 15:03</p>
            <h2><a href="">Post lorem ipsum</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>publicado em: 10/03/2018, 15:03</p>
            <h2><a href="">2 post lorem ipsum</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>